# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
# Step 1: Load the datasets
import pandas as pd
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [2]:
# Step 2: Explore the datasets
print(df1.info())
print(df2.info())
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB
None

In [5]:
# Step 3: Clean the datasets
def clean_data(df):
    # Example cleaning steps
    df.columns = df.columns.str.lower().str.replace(' ', '_')  # Standardize column names
    df = df.drop_duplicates()  # Remove duplicate rows
    df = df.dropna()  # Drop rows with missing values
    return df

df1_clean = clean_data(df1)
df2_clean = clean_data(df2)
df3_clean = clean_data(df3)

In [6]:
# Step 4: Combine the datasets
combined_df = pd.concat([df1_clean, df2_clean, df3_clean])

In [10]:
# Step 5: Final clean-up
def unify_state_column(df):
    if 'st' in df.columns and 'state' in df.columns:
        # Priorizar la columna 'state', pero rellenar con 'st' donde 'state' esté vacío
        df['state'] = df['state'].fillna(df['st'])
    elif 'st' in df.columns:
        # Si solo existe 'st', renombrarla a 'state'
        df.rename(columns={'st': 'state'}, inplace=True)
    # Eliminar la columna 'st' si aún existe
    if 'st' in df.columns:
        df.drop(columns=['st'], inplace=True)
    return df

# Aplicar la función al DataFrame combinado
combined_df = unify_state_column(combined_df)

# Guardar los datos limpios y combinados
combined_df.to_csv('combined_cleaned_data.csv', index=False)

In [11]:

# Step 6: Save the cleaned data
combined_df.to_csv('combined_cleaned_data.csv', index=False)

In [12]:
combined_df.head()

,customer,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state
1,QZ44356,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,Arizona
2,AI49188,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,Nevada
3,WW63253,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,California
4,GA49547,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,Washington
5,OC83172,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042,Oregon

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [14]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
customer_df_analitic = pd.read_csv(url)

In [15]:
# Step 2: Explore the dataset
print(customer_df_analitic.info())       # Get an overview of the dataset
print(customer_df_analitic.describe())   # Summary statistics
print(customer_df_analitic.head())       # First few rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [16]:
# Step 3: Data Cleaning
# 3.1 Handle missing values (example: fill with mean or drop)
customer_df_analitic = customer_df_analitic.dropna()  # Drop rows with missing values (or use df.fillna() for imputation)

# 3.2 Standardize column names
customer_df_analitic.columns = customer_df_analitic.columns.str.lower().str.replace(' ', '_')

# 3.3 Correct data types (example: converting dates, numerical types)
# If there's a date column, convert it
# df['date_column'] = pd.to_datetime(df['date_column'])

# 3.4 Remove duplicates
customer_df_analitic = customer_df_analitic.drop_duplicates()

In [17]:
# Step 4: Data Structuring
# Example of Feature Engineering: 
# Let's say you want to create a new column 'customer_age_group' based on 'customer_age'
# df['customer_age_group'] = pd.cut(df['customer_age'], bins=[0, 18, 35, 50, 65, 100], labels=['0-18', '19-35', '36-50', '51-65', '66+'])

# Step 5: Preliminary Analysis
# Example: Get the distribution of 'customer_age_group'
# df['customer_age_group'].value_counts().plot(kind='bar')

# Step 6: Save the cleaned data
customer_df_analitic.to_csv('cleaned_marketing_customer_analysis.csv', index=False)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [19]:
# Step 2: Ensure necessary columns are present
# Assuming the dataset has columns 'sales_channel' and 'total_revenue'
if 'sales_channel' in customer_df_analitic.columns and 'total_revenue' in customer_df_analitic.columns:
    
    # Step 3: Create the pivot table to summarize total revenue by sales channel
    pivot_table = customer_df_analitic.pivot_table(values='total_revenue', index='sales_channel', aggfunc='sum')
    
    # Step 4: Round the total revenue to 2 decimal places
    pivot_table = pivot_table.round(2)
    
    # Step 5: Analyze the results
    print(pivot_table.sort_values(by='total_revenue', ascending=False))

else:
    print("The required columns 'sales_channel' and 'total_revenue' are not present in the dataset.")

The required columns 'sales_channel' and 'total_revenue' are not present in the dataset.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [20]:
# Step 2: Ensure necessary columns are present
if 'gender' in customer_df_analitic.columns and 'education' in customer_df_analitic.columns and 'customer_lifetime_value' in customer_df_analitic.columns:
    
    # Step 3: Create the pivot table for average customer lifetime value by gender and education level
    pivot_table = customer_df_analitic.pivot_table(
        values='customer_lifetime_value',
        index='gender',
        columns='education',
        aggfunc='mean'
    )
    
    # Round the values to 2 decimal places for better readability
    pivot_table = pivot_table.round(2)
    
    # Step 4: Analyze the results
    print(pivot_table)

else:
    print("The required columns 'gender', 'education', and 'customer_lifetime_value' are not present in the dataset.")

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [22]:
import pandas as pd

# Step 1: Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Step 2: Identify potential substitute columns
# Assuming 'effective_to_date' as a substitute for 'complaint_date'
# Assuming 'coverage' as a substitute for 'policy_type'

if 'effective_to_date' in df.columns and 'coverage' in df.columns:
    
    # Step 3: Extract month from 'effective_to_date'
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
    df['month'] = df['effective_to_date'].dt.month_name()  # Extract month name
    
    # Step 4: Create the summary table
    summary_table = df.groupby(['coverage', 'month']).size().reset_index(name='number_of_complaints')
    
    # Step 5: Ensure the table is in long format
    # It's already in long format because we used groupby with reset_index
    
    # Show the result
    print(summary_table)

else:
    print("The required columns 'effective_to_date' and 'coverage' are not present in the dataset.")

   coverage     month  number_of_complaints
0     Basic  February                  3112
1     Basic   January                  3548
2  Extended  February                  1522
3  Extended   January                  1743
4   Premium  February                   458
5   Premium   January                   527